# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#ipython checkpoints
*-checkpoint.ipynb
*.tmp
Posts/2020/May/UndertheHood/~$H_Rankine vortex_01(Jan)_2020.docx
Posts/2020/June/UndertheHood/~$H_Rankine vortex_01(Jan)_2020.docx
Posts/2020/April/UndertheHood/~$H_Rankine vortex_01(Jan)_2020.docx
Posts/2020/Jan/UndertheHood/~$H_Rankine vortex_01(Jan)_2020.docx
Posts/2020/Feb/UndertheHood/~$H_Rankine vortex_01(Jan)_2020.docx
Posts/2022/Jun/Common Cents/~$mmon_Cents_05(May)_2022_Baby Formula Shortage.docx
Posts/2022/Jun/UndertheHood/~$H_05(May)_2022_Entropy_is_Supercool.docx
Posts/2022/Jul/BW_intro_06(Jun)_2022_.docx
Posts/2022/Jul/UndertheHood/UTH_06(Jun)_Entropy, Chemistry, and the Potentials.docx
Posts/2022/Jul/UndertheHood/~$H_05(May)_2022_Entropy_is_Supercool.docx
Posts/2023/06(Jun)/~$_06(Jun).docx
